body {
    background: #e9ece5;
    margin: 0 !important;
    padding: 0 !important;
}

body h1,
body label {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    text-align: center;
}

h1 {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 26px;
    font-style: normal;
    font-variant: normal;
    font-weight: 300;
    line-height: 26.4px;
    padding-top: 20px;
    color: #e62739;
}

#header {
    width: 100%;
    background-color: #f1f1f1;
    border-bottom: 1px solid #666;
    border-color: #e5e5e5;
    margin-top: -18px;
}

#header h1 {}

#calendar {
    margin: auto;
    width: 960px;
    margin-bottom: 70px;
    margin-top: 30px;
}

#calendar label {
    display: block;
    line-height: 150%;
    font-size: .85em;
    text-align: center;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.row {
    width: auto;
    height: 30px;
    clear: both;
}

.block {
    float: left;
    width: 12.5%;
    height: 100%;
    border-color: #666;
    border-style: solid;
    border-width: thin;
}

.block.time {
    width: 10.5%;
    padding-right: 3px;
    background: #E0E0E0;
}

.block.header {
    background: #BBDEFB;
}

.block.used-light {
    background: #64B5F6;
    border-bottom-color: #64B5F6;
    border-top-color: #64B5F6;
}

.block.used-dark {
    background: #42A5F5;
    border-bottom-color: #42A5F5;
    border-top-color: #42A5F5;
}